@charset "utf-8";
@import (reference) "import/commonConfig.less";
@import (inline) "import/resetCss.css";

body {
    background: #00c5f7 url("../images/bg_common_page.gif") left top repeat;
    background-size: 100%;
    /* &.pace-running {
        background: #fffb00 url("../images/bg_lading_page.gif") left top repeat;
        background-size: 318px * 0.45;
    } 
    &.pace-done {
    }*/
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        position: absolute;

        &.hidden {
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s;
        }

        &.z1 {
            z-index: 1;
        }
        &.z2 {
            z-index: 2;
        }

        &.lvdiLogo {
            right: 3px;
            top: 3px;
            background: url("../images/logo_lvdi.png") no-repeat;
            background-size: cover;
            z-index: 2000;
            filter: invert(0);
            transition: filter .5s;

            &.white {
               filter: invert(1);
               transition: filter .5s;
            }
        }

        &.previous {
            left: 18px;
            top: 22px;
            background: url("../images/left.png") no-repeat;
            background-size: cover;
            z-index: 2000;
        }

        &.musicMenu {
            right: 18px;
            top: 22px;
            background: url("../images/music.png") no-repeat;
            background-size: cover;
            z-index: 2000;
        }

        &.logoBlack {
            right: 10px;
            bottom: 10px;
            background: url("../images/logo_black.png") no-repeat;
            background-size: 100%;
            z-index: 2000;
        }
        //step1///////////////////////////////////////////////////////////////////////
        //底部文字
        &#step1_wenzi {
            transform: translateY(-100%);

            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .5s, transform .5s;
            }
        }
        //嫦娥动画
        &#step1_chang_e {
            transform: translateY(-100%);

            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .5s, transform .5s;
                animation: step1_chang_e_animation 5s infinite;
            }
        }
        @keyframes step1_chang_e_animation {
            0%   {top:5%;}
            50%  {top:4%;}
            100% {top:5%;}
        }
        //嫦娥标签
        &#step1_chang_e_node {
            &.show{
                visibility: visible;
                opacity: 1;
                transition: opacity .5s;
                animation: step1_chang_e_node_animation 5s infinite;
            }
        }
        @keyframes step1_chang_e_node_animation {
            0%   {top:20%; width: 15%;}
            50%  {top:19%; width: 17%;}
            100% {top:20%; width: 15%;}
        }
        //漂浮英文
        &#step1_moon_where {
            &.show{
                visibility: visible;
                opacity: 1;
                transition: opacity .5s;
                animation: step1_moon_where_animation 5s infinite;
            }
        }
        @keyframes step1_moon_where_animation {
            0%   {top:13%;}
            50%  {top:14%;}
            100% {top:13%;}
        }
        //云朵
        &#step1_yun {
            &.show{
                visibility: visible;
                opacity: 1;
                transition: opacity .5s;
                animation: step1_yun_animation 5s infinite;
            }
        }
        @keyframes step1_yun_animation {
            0%   {top:22%;}
            50%  {top:23%;}
            100% {top:22%;}
        }
        //其它漂浮物
        &#step1_sui {
            &.show{
                visibility: visible;
                opacity: 1;
                transition: opacity .5s;
                animation: step1_sui_animation 5s infinite;
            }
        }
        @keyframes step1_sui_animation {
            0%   {top:29%;}
            50%  {top:28%;}
            100% {top:29%;}
        }

        //诗句1
        &#step1_shi_1 {
            transform: translateY(100%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .5s, transform .5s;
            }
        }
        //诗句2
        &#step1_shi_2 {
            transform: translateY(100%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .5s, transform .5s;
            }
        }
        //诗句3
        &#step1_shi_3 {
            transform: translateY(100%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .5s, transform .5s;
            }
        }
        //点点点
        &#step1_dian {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
        }
        //明月在哪里？
        &#step1_where {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
            &.show_loop{
                animation: step1_where_animation 5s infinite;
            }
        }
        @keyframes step1_where_animation {
            0%   {transform: scale(1);}
            40%   {transform: scale(1.2);}
            50%  {transform: scale(1);}
            60%   {transform: scale(1);}
            100% {transform: scale(1);}
        }
        //放大镜
        &#step1_fangda {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
            &.show_loop{
                animation: step1_fangda_animation 5s infinite;
            }
        }
        @keyframes step1_fangda_animation {
            0%   {transform: scale(1); left: 60%; top: 52%; opacity: 1;}
            40%   {transform: scale(2); left: 40%; top: 32%; opacity: 0.9;}
            50%  {transform: scale(1); left: 60%; top: 52%; opacity: 1;}
            60%   {transform: scale(1); left: 60%; top: 52%; opacity: 1;}
            100% {transform: scale(1); left: 60%; top: 52%; opacity: 1;}
        }
        

        //step2///////////////////////////////////////////////////////////////////////
        //房子结构1
        &#step2_fang_top {
            transform: translateY(-100%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity 1s, transform 1s;
            }
        }
        //房子结构2
        /* &#step2_fang_bottom {
            transform: translateY(100%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .5s, transform .5s;
            }
        } */
        //文字1
        &#step2_text_1 {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
        }
        //文字2
        &#step2_text_2 {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
        }
        //文字3
        &#step2_text_3 {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
        }
        //文字4
        &#step2_text_4 {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
            &.show_loop{
                animation: step2_text_4_animation 5s infinite;
            }
        }
        @keyframes step2_text_4_animation {
            0%   {transform: scale(1);}
            40%   {transform: scale(1.2);}
            50%  {transform: scale(1);}
            100% {transform: scale(1);}
        }
        //文字5
        &#step2_text_5 {
            transform: translateY(100%) scale(3);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
            &.show_loop{
                animation: step2_text_5_animation 5s infinite;
            }
        }
        @keyframes step2_text_5_animation {
            0%   {transform: scale(1);}
            40%   {transform: scale(1);}
            80%   {transform: scale(1.2);}
            100% {transform: scale(1);}
        }
        //李白
        &#step2_libai {
            transform: translateX(10%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
                transition: opacity 2s, transform 2s;
            }
        }
        //李白_瞪眼
        &#step2_libai_yan {
            &.show{
                visibility: visible;
                opacity: 1;
                animation: step2_libai_yan_animation 5s infinite;
            }
        }
        @keyframes step2_libai_yan_animation {
            0%   {transform: scale(1);}
            50%   {transform: scale(1);}
            52%   {transform: scale(1.2);}
            54%   {transform: scale(1);}
            56%   {transform: scale(1.2);}
            58%   {transform: scale(1);}
            100% {transform: scale(1);}
        }
        //李白_流汗
        &#step2_libai_han {
            &.show{
                visibility: visible;
                opacity: 1;
                animation: step2_libai_han_animation 5s infinite;
            }
        }
        @keyframes step2_libai_han_animation {
            0%   {transform: scale(1);}
            50%   {transform: scale(1);}
            52%   {transform: scale(1.2);}
            54%   {transform: scale(1);}
            56%   {transform: scale(1.2);}
            58%   {transform: scale(1);}
            100% {transform: scale(1);}
        }
        //拖动按钮
        &#drag_up {
            transform: rotate(90deg);
            &.show_loop {
                animation: drag_up_animation 5s infinite;
            }
        }
        @keyframes drag_up_animation {
            0%   {transform: scale(1) rotate(90deg);}
            50%   {transform: scale(1) rotate(90deg);}
            52%   {transform: scale(1.2) rotate(90deg);}
            54%   {transform: scale(1) rotate(90deg);}
            56%   {transform: scale(1.2) rotate(90deg);}
            58%   {transform: scale(1) rotate(90deg);}
            100% {transform: scale(1) rotate(90deg);}
        }

        //step3///////////////////////////////////////////////////////////////////////
        //月亮升起
        &#step3_moon {
            transform: translateY(20%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity 1.2s, transform 1.2s;
            }
        }
        //落地窗出现
        &#step3_window {
            &.show{
                visibility: visible;
                opacity: 1;
                transition: opacity 1s;
            }
        }
        //文字出现
        &#step3_text {
            transform: translateY(20%) scale(1.6);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
        }
        //next
        &#step3_next {
            transform: translateY(20%) scale(1.2);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity 1s, transform 1s;
            }
            &.show_loop{
                animation: step3_next_animation 5s infinite;
            }
        }
        @keyframes step3_next_animation {
            0%   {transform: scale(1) rotate(0);}
            50%   {transform: scale(1) rotate(0);}
            52%   {transform: scale(1.4) rotate(5deg);}
            54%   {transform: scale(1) rotate(0);}
            56%   {transform: scale(1.4) rotate(-5deg);}
            58%   {transform: scale(1) rotate(0);}
            100% {transform: scale(1) rotate(0);}
        }

        //step4///////////////////////////////////////////////////////////////////////
        //月亮
        &#step4_moon {
            transform: translateY(20%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity 1.2s, transform 1.2s;
            }
        }
        //绿地峰尚汇
        &#step4_lvdi_logo {
            transform: translateY(20%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity 1.2s, transform 1.2s;
            }
        }
        //文字1
        &#step4_text_1{
            transform: translateY(20%) scale(2);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity .9s, transform .9s;
            }
        }
        //文字2
        &#step4_text_2{
            transform: translateY(20%) scale(2);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: opacity .9s, transform .9s;
            }
            &.show_loop{
                animation: step4_text_2_animation 5s infinite;
            }
        }
        @keyframes step4_text_2_animation {
            0%   {transform: scale(1) rotate(0) translateY(0);}
            40%   {transform: scale(1) rotate(0) translateY(0);}
            50%   {transform: scale(1.4) rotate(5deg) translateY(-20%);}
            60%   {transform: scale(1) rotate(0) translateY(0);}
            70%   {transform: scale(1.4) rotate(-5deg) translateY(-20%);}
            80%   {transform: scale(1) rotate(0) translateY(0);}
            100% {transform: scale(1) rotate(0) translateY(0);}
        }
        //二维码
        &#step4_qrcode{
            transform: translateY(10%);
            &.show{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .9s, transform .9s;
            }
        }
    }

    .mainScene {
        width: 100%;
        height: 100%;

        .step1 {
            width: 100%;
            height: 100%;
            overflow: hidden;

            &.hide {
                height: 0;
            }
        }

        .step2 {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            &.hide {
                height: 0;
            }

            #drag_up_fun {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 10;
                display: none;
            }

            .drag_up_box {
                z-index: 3;
                opacity: 0;
                transform: translateY(30px);

                &.show{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 2s, transform 2s;
                }

                span {
                    font-family: "苹方","Microsoft Yahei" !important;
                    display: block;
                    position: absolute;
                    width: 200%;
                    height: 100%;
                    font-size: 12px;
                    color: #000;
                    text-align: center;
                    left: -46%;
                    bottom: -40px;
                }
            }

            #step2_fang_bottom_box {
                opacity: 0;
                transform: translateY(100%);
                &.show{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 1s, transform 1s;
                }

                #step2_fang_bottom_top{
                    width: 100%;
                    height: 10%;
                    background: url("../images/step2_fang_bottom.png") left top no-repeat;
                    background-size: 100%;
                }
                #step2_fang_bottom_middle{
                    width: 100%;
                    height: 10%;
                    background: url("../images/step2_fang_bottom_la.png") left top repeat-y;
                    background-size: 100%;
                }
                #step2_fang_bottom_bottom{
                    width: 100%;
                    height: 80%;
                    background: url("../images/step2_fang_bottom.png") left bottom no-repeat;
                    background-size: 100%;
                }
            }
        }

        .step3 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: none;

            &.hide {
                height: 0;
            }
        }

        .step4 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &.hide {
                height: 0;
            }
        }
    }

    
    .ladingPage {
        width: 100%;
        height: 100%;
        background: #fffb00 url("../images/bg_lading_page.gif") left top repeat;
        background-size: 318px * 0.45;
        transform: translateY(0);
        transition: transform .3s;

        &.comeUp {
            transform: translateY(100%);
            transition: transform .3s;
        }
    }
}